@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
nav{
  background-color: #162239f2;
  font-family: 16px sans-serif;
  color: #212529;
}
.nav-item a{
  position: relative;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 4px 14px;
}
.nav-item a:hover{
  color: #fff;
}
.nav-item a::before{
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f5a425;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.nav-item a:hover::before{
  transform: scaleX(1);
}
.dropdown-menu{
  background-color: #162239f2;
  opacity: 0.90;
}
section{
  position: relative;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
section video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
section .container {
  position: relative;
  z-index: 2;
}
section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
select{
  margin-left: 90px;
}
.cbtn{
  background-color: #162239f2;
  color: #f5a425;
  border-radius: 45px;
  cursor: pointer;
  border: none;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.cbtn:hover{
  background: #f5a425;
  transform: translateY(-7px);
  color: #162239f2;
  box-shadow: 0px 10px 25px rgba(245, 221, 3, 0.705);
}
.mdbtn{
  background-color: #162239f2;
  color: #f5a425;
  border-radius: 45px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.mdbtn:hover{
  background: #f5a425;
  transform: translateY(-7px);
  color: #162239f2;
  box-shadow: 0px 10px 25px rgba(245, 221, 3, 0.705);
}
.col-6 a{
  color: #f5a425;
}
.fdbtn{
  color: #f5a425;
  border-radius: 45px;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.fdbtn:hover{
  background: #f5a425;
  transform: translateY(-7px);
  color: #162239f2;
  box-shadow: 0px 10px 25px rgba(245, 221, 3, 0.705);
}
.hov{
  letter-spacing: 2px;
  position: relative;
  color: #fff;
}
.hov:hover{
  color: #fff;
}
.hov::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f5a425;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
.hov:hover::before{
  transform: scaleX(1);
}
.btn-floating{
  display: inline-block;
  background: #162239f2;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #f5a425;
  overflow: hidden;
  position: relative;
}
.btn-floating i{
  transition: 0.2s linear;
}
.btn-floating:hover i{
  transform: scale(1.3);
  color: #162239f2;
}
.btn-floating::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #f5a425;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn-floating:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa{
 0%{
    left: -110%;
    top: 90%;
 }50%{
    left: 10%;
    top: -30%;
 }100%{
   top: -10%;
   left: -10%;
 }
}

/* Contact Form CSS */
.contactUs{
  background: linear-gradient(90deg,#f5a425 0%, #f5a425 30%, #162239f2 30%, #162239f2 100%);
  position: relative;
  width: 100%;
  padding: 40px 100px;
}
.contactUs .title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
.contactUs .title h2{
  color: #fff;
  font-weight: 500;
}
.form{
  grid-area: form;
}
.info{
  grid-area: info;
}
.map{
  grid-area: map;
}
.contact{
  padding: 40px;
  background: #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.15);
}
.box{
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 5fr 4fr;
  grid-template-areas: "form info" "form map";
  grid-gap: 20px;
  margin-top: 20px;
}
.contact h3{
  color: #162239f2;
  font-weight: 500;
  font-size: 1.4em;
  margin-bottom: 10px;
}


/* form */
.formBox{
  position: relative;
  width: 100%;
}
.formBox .row50{
  display: flex;
  gap: 20px;
}
.inputBox{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 50%;
}
.formBox .row100 .inputBox{
  width: 100%;
}
.inputBox span{
  color: #f5a425;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}
.inputBox input{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
}
.inputBox textarea{
  padding: 10px;
  font-size: 1.1em;
  outline: none;
  border: 1px solid #333;
  resize: none;
  min-height: 220px;
  margin-bottom: 10px;
}
.inputBox input[type="submit"]{
  background: #162239f2;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 1.1em;
  max-width: 120px;
  padding: 14px 15px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}
.inputBox input[type="submit"]:hover{
  background: #f5a425;
  transform: translateY(-7px);
  color: #162239f2;
  box-shadow: 0px 10px 25px rgba(245, 221, 3, 0.705); 
}
.inputBox ::placeholder{
  color: #999;
}
/* info */
.info{
  background: #162239f2;
}
.info h3{
  color: #fff;
}
.info .infoBox div{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.info .infoBox div span{
  min-width: 40px;
  height: 40px;
  color: #fff;
  background: #f5a425;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 50%;
  margin-right: 15px;
}
.info .infoBox div p{
  color: #fff;
  font-size: 1.1em;
}
.info .infoBox div a{
  color: #fff;
  text-decoration: none;
  font-size: 1.1em;
}
.sci{
  margin-top: 40px;
  display: flex;
}
.sci li{
  list-style: none;
  margin-right: 15px;
}
.sci li a{
  color: #fff;
  font-size: 2em;
  color: #ccc;
}
.sci li a:hover{
  color: #fff;
}
.map{
  padding: 0;
}
.map iframe{
  width: 100%;
  height: 100%;
}
@media (max-width: 991px){
  .contactUs{
    background: #f5a425;
  }
  .contactUs{
    padding: 20px;
  }
  .box{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "form"
      "info"
      "map";
  }
  .formBox .row50{
    display: flex;
    gap: 0;
    flex-direction: column;
  }
  .inputBox{
    width: 100%;
  }
  .contact{
    padding: 30px;
  }
  .map{
    min-height: 300px;
    padding: 0;
  }
}